{% extends 'app/base.html' %}

{% block content %}
   <div class="FormDesign">
    <h2>Student List</h2>
    <a href="{% url 'create_student' %}">Create Student</a>
    <ul class="student-list">
        {% for student in students %}
            <li class="student-item">
                <a href="{% url 'student_detail' student.id %}">{{ student.name }}</a>
                <div class="action-links">
                    <a href="{% url 'update_student' student.id %}">Edit</a>
                    <a href="{% url 'delete_student' student.id %}">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}
